@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {

  --color-red-50:  #fdf2f2;
  --color-red-100: #fde8e8;
  --color-red-200: #fbd5d5;
  --color-red-300: #f8b4b4;
  --color-red-400: #f98080;
  --color-red-500: #f05252;
  --color-red-600: #ed556a;
  --color-red-700: #c81e1e;
  --color-red-800: #9b1c1c;
  --color-red-900: #771d1d;

  --color-zincgray-50: #fafafa;
  --color-zincgray-100: #f4f4f5;
  --color-zincgray-200: #e4e4e7;
  --color-zincgray-300: #d4d4d8;
  --color-zincgray-400: #a1a1aa;
  --color-zincgray-500: #7a7374;
  --color-zincgray-600: #71717a;
  --color-zincgray-700: #3f3f46;
  --color-zincgray-800: #27272a;
  --color-zincgray-900: #18181b;
  --color-zincgray-950: #09090b;

  /* Your preferred text font. Starlight uses a system font stack by default. */
  --font-sans: 'Atkinson Hyperlegible';
  /* Your preferred code font. Starlight uses system monospace fonts by default. */
  --font-mono: 'IBM Plex Mono';
  /* Your preferred accent color. red is closest to Starlight’s defaults. */
  --color-accent-50: var(--color-red-50);
  --color-accent-100: var(--color-red-100);
  --color-accent-200: var(--color-red-200);
  --color-accent-300: var(--color-red-300);
  --color-accent-400: var(--color-red-400);
  --color-accent-500: var(--color-red-500);
  --color-accent-600: var(--color-red-600);
  --color-accent-700: var(--color-red-700);
  --color-accent-800: var(--color-red-800);
  --color-accent-900: var(--color-red-900);
  --color-accent-950: var(--color-red-950);
  /* Your preferred gray scale. Zinc is closest to Starlight’s defaults. */
  --color-gray-50: var(--color-zincgray-50);
  --color-gray-100: var(--color-zincgray-100);
  --color-gray-200: var(--color-zincgray-200);
  --color-gray-300: var(--color-zincgray-300);
  --color-gray-400: var(--color-zincgray-400);
  --color-gray-500: var(--color-zincgray-500);
  --color-gray-600: var(--color-zincgray-600);
  --color-gray-700: var(--color-zincgray-700);
  --color-gray-800: var(--color-zincgray-800);
  --color-gray-900: var(--color-zincgray-900);
  --color-gray-950: var(--color-zincgray-950);
}